
# Data Science Tools and Ecosystem



In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. Seaborn

#Exercise 7 - Create a markdown cell introducing arithmetic expression examples
## Next, Below are a few examples of evaluating arithmetic expressions in Python

### Herramientas de ciencia de datos:
| SI. No | Herramientas de ciencia de datos|
| -------------| ------ |
| 1 | Jupyter Notebook |
| 2| R studio |
|3| Google colaboratory|

### Below are a few examples of evaluating arithmetic expressions in Python
# Sum operation

In [5]:
3+5

8

# subtraction operation

In [7]:
12-2

10

# Multiplication operation

In [4]:
5*4

20

# This a simple arithmetic expression to multiply then add integers

In [8]:
 (3*4)+5

17

# This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335


**Objectives:**
+ Languages of Data Science
+ Libraries for Data Science
+ Open Source Tools for Data Science
+ Commercial Tools for Data Science
+ Cloud Based Tools for Data Science

#Exercise 8 - Create a code cell to multiply and add numbers
### This a simple arithmetic expression to mutiply then add integers. 
(3*4)+5

#Exercise 9 - Create a code cell to convert minutes to hours
### This will convert 200 minutes to hours by diving by 60.
   
200/60


## Author Name
Paul Rodas